<!DOCTYPE html>

<html lang="en">
   <title>EC on BC-Homepage</title>
    @header()
    <style type="text/css">
      .panel-height {
        height: 130px;
    }
      

    </style>
    <body>
      <div class="container">
        <div class="row">
            <div class="panel-group">

              <!--S&T-->
                <div class="col-sm-4" > 
                  <div class = "panel panel-info">
                    <div class="panel-heading"><a href="/sign" style="text-decoration: none"><h3><span class="glyphicon glyphicon-pencil"></span>&nbspSign & Timestamp&nbsp<span class="glyphicon glyphicon-time"></h3></a></div>
                    <div class="panel-body panel-height"><p>Upload a contract</p>
                    <p>Sign and Timestamp the contract</p></div>
                  </div>
                </div>

              <!--Verify-->
                <div class="col-sm-4">
                  <div class = "panel panel-info">
                    <div class="panel-heading"><a href="/verify" style="text-decoration: none"><h3><span class="glyphicon glyphicon-check"></span>&nbspVerify</h3></a></div>
                    <div class="panel-body panel-height"><p>Upload a contract or input the Contract ID</p>
                    <p>Check if the contract being signed and its integrity</p></div>
                  </div>
                </div>

              <!--About-->
                <div class="col-sm-4">
                  <div class = "panel panel-info">
                    <div class="panel-heading"><a href="/about" style="text-decoration: none"><h3><span class="glyphicon glyphicon-book"></span>&nbspTechnology</h3></a></div>
                    <div class="panel-body panel-height"><p>Learn the Digital Signature and Timestamp</p>
                    <p>Learn what Blockchain is</p></div>
                  </div>
                </div>

            </div>
        </div>
    </div>

<!-- Write explaination in other files and include contents  -->
<div class="container">
    <div> Expain S&T</div>
    <div> Expain Verification</div>
    <div> Expain DS & TS & Blockchain</div>
    </div>


    </body>

    
    @footer()
</html>