<!DOCTYPE html>


<html lang="en">
  <head>
   <title>EC on BC-Verify</title>
   @header()
   <style type="text/css">

   </style>
  </head>


    <body>
      <div class="container">
        <p>Select a contract:</p>
        <input type="file" name="contract">
        <p><div class="container">
          <button type="button" class="btn btn-primary">Search</button>
		  <button type="button" class="btn btn-primary">Verify</button>
        </div></p>
      </div>
    </body>
    @footer()
</html>