<!DOCTYPE html>


<html lang="en">
  <head>
   <title>EC on BC-Verify</title>
   @header()
   <style type="text/css">
     .container-bg{
        margin-left: 120px;
        margin-right: 120px;
        margin-top: 0px;
        background-color: #FFF5EE;
     }
     
    </style>
  </head>


    <body>
      <div class="container">
      <div class="jumbotron" style="background-color: #FFF5EE;">
      <br> how to verify?
        <p>Select a contract:</p>
        <input type="file" name="contract">
        <p><div class="container">
          <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Search the contract in Blockchain.">Search</button>
		  <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Verify the contract.">Verify</button>
        </div></p>
      </div>
      </div>
    </body>
    @footer()
</html>